<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="query">
    <select id="test" resultType="String">
        SELECT 'test'
    </select>
    
    <select id="imageSelectAllforMain" resultType="org.spring.dto.mainImageVO">
    	SELECT title, linkHash, uploadDate, viewCount from uploadFileTbl;
    </select>
    
    
    
    <insert id="imageInsert" parameterType="org.spring.dto.imageUploadDTO">
    	INSERT into uploadFileTbl (title, originalFileName, uploadDate, linkHash, hashFileName, blameRate, viewCount)
    	values (#{title}, #{originalFileName}, #{uploadDate}, #{linkHash}, #{hashFileName}, 0 , 0 )
    </insert>
    
</mapper>